---

---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vinduespudsning</title>
    <link rel="icon" href="svg/ariaicon.svg" />
    <link rel="stylesheet" href="/src/css/reset.css" />
    <link rel="stylesheet" href="/src/css/style.css" />
    <link rel="stylesheet" href="/src/css/layout.css" />
    <link rel="stylesheet" href="/src/css/colors.css" />
    <link rel="stylesheet" href="/src/css/menu.css" />
    <link rel="stylesheet" href="https://use.typekit.net/vik1lxa.css" />
    <script src="https://kit.fontawesome.com/67f49ad00c.js" crossorigin="anonymous"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Varela&display=swap");
    </style>
  </head>

  <body>
    <header>
      <nav>
        <a href="index.html" id="logo"> </a>
        <ul class="desktop_nav">
          <li><a href="/">Forside</a></li>
          <li>
            <a href="/priser">Priser</a>
          </li>
          <li><a href="/om">Om os</a></li>

          <li><a href="contact.html" class="btn btn_nav"> Kontakt </a></li>
        </ul>
        <div id="mobile_nav">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
    </header>

    <main>
      <div id="owner_profile" class="grid_1-1 breakout_container">
        <div><img src="webp/omjonen.webp" alt="Jon Hollesen" /></div>
        <div>
          <h1>Jon Hollesen</h1>
          <p>Mød Jon Hollesen, visionæren bag Aria og dedikeret stemmeekspert.</p>
          <p>Med en cand.mag. i musikvidenskab og dramaturgi fra Aarhus Universitet, samt en uddannelse som sang&shy;pædagog fra Det Kgl. Danske Musikkonservatorium, er Jon en solid fagperson inden for stemmetræning.</p>
          <p>Jon's ekspertise omfatter privatundervisning, work&shy;shops og seminarer. Med et imponerende resumé, har Jon faciliteret kurser for store internationale virksomheder som Nestlé Professional og Center for Ledelse, og undervist på lederkurser for det danske forsvar og Dansk Yogaforbund.</p>
        </div>
      </div>
      <div id="aria_profile" class="grid_4-1-2">
        <div>
          <h1>Aria</h1>
          <p>Velkommen til Aria — skolen for sang og stemmebrug, hvor lyden af potentiale møder ekspertise.</p>
          <p>Aria er dedikeret til at forme stemmer gennem specialiserede kurser og vejledning. Vi tror på, at hver stemme fortjener at blive hørt, og vores kurser stræber efter at frigøre det fulde potentiale i hver enkelt deltager.</p>
        </div>
        <div>
          <img src="webp/jonkirke.webp" alt="dummy" />
          <img src="dummy_imgs/COLOURBOX55814575.webp" alt="dummy" />
        </div>
      </div>
    </main>
  </body>
</html>
