---

---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vinduespudsning</title>
    <link rel="icon" href="svg/ariaicon.svg" />
    <link rel="stylesheet" href="/src/css/reset.css" />
    <link rel="stylesheet" href="/src/css/style.css" />
    <link rel="stylesheet" href="/src/css/layout.css" />
    <link rel="stylesheet" href="/src/css/colors.css" />
    <link rel="stylesheet" href="/src/css/menu.css" />
    <link rel="stylesheet" href="https://use.typekit.net/vik1lxa.css" />
    <script src="https://kit.fontawesome.com/67f49ad00c.js" crossorigin="anonymous"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Varela&display=swap");
    </style>
  </head>

  <body>
    <header>
      <nav>
        <a href="index.html" id="logo"> </a>
        <ul class="desktop_nav">
          <li><a href="/">Forside</a></li>
          <li>
            <a href="/priser">Priser</a>
          </li>
          <li><a href="/om">Om os</a></li>

          <li><a href="contact.html" class="btn btn_nav"> Kontakt </a></li>
        </ul>
        <div id="mobile_nav">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
    </header>
  </body>
</html>
